/* General body styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #121212; /* dark background for contrast */
    color: #ffffff; /* white text for readability */
    margin: 0; /* Removes default margin */
    padding-top: 70px; /* to avoid navbar overlap */
}

/* Navbar styles */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between; /* ensures content is aligned with space between */
    align-items: center;
    padding: 0 20px; /* padding on both sides */
    background-color: #1a1a1a;
    z-index: 1000;
}

.navbar-logo {
    height: 50px; /* appropriate height for the logo */
    transition: height 0.3s ease;
}

.navbar ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    margin: 0 20px; /* spacing between menu items */
}

.navbar ul li a {
    color: #DAA520; /* golden color for links */
    text-decoration: none;
    font-weight: bold;
}

/* Social media links */
.social-media {
    display: flex;
    align-items: center;
}

.social-media a {
    color: #ffffff;
    margin-left: 15px;
}

/* Adjustments for mobile views */
.menu-icon {
    display: none; /* Hidden by default */
    cursor: pointer;
    color: #ffffff;
    font-size: 30px; /* size of menu icon */
    position: absolute;
    right: 20px;
    top: 20px;
}

@media (max-width: 768px) {
    .navbar {
        justify-content: center; /* Centering navbar items */
    }

    .menu-icon {
        display: block; /* Display menu icon on mobile */
    }

    .navbar ul {
        flex-direction: column;
        width: 100%; /* full width */
        display: none; /* Hide initially */
        position: absolute;
        top: 70px; /* Positioned below the navbar */
        left: 0;
        background-color: #1a1a1a;
        padding: 10px 0; /* Padding inside the dropdown */
    }

    .navbar ul li {
        text-align: center; /* Centering text within each dropdown item */
        padding: 10px 0; /* Adding vertical padding for spacing */
    }

    .navbar-logo, .social-media {
        display: none; /* Hide elements in the dropdown */
    }
}

/* Section and other styles */
section {
    padding: 40px;
    border-bottom: 1px solid #333333;
}

footer, #Kontakt {
    text-align: center;
    padding: 20px;
    background-color: #1a1a1a;
}

footer p {
    color: #DAA520;
}

form div {
    margin-bottom: 10px;
}

input[type="text"], input[type="email"], textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #DAA520;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #b38600; /* darker shade for hover effect */
}
